.dashboard{
     display: flex;
    flex-direction: column;
min-width: 300px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 200px; 
 }

 .users, .table {
    margin-top: 1rem;
    min-height: 150px; 
 }
.title{
   margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .dashboard{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .dashboard{
        align-items: center;
    }
}