.users{
    width: 100%;
    background-color: white;
    margin-top: 15px;
    height: auto;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
   
}
.updates{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.infoBlock>img{
    width: 5rem;
    height: 5rem;
    margin: 5px 0px 0px 10px;
}
.ditailInfoUser span, .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 color:black;
}
.ditailInfoUser span:nth-child(2){
    font-size: 12px;
}
.time{
    color: grey;
    font-size: 15px;
}

@media (max-width:576px){
    .users{
        width: 90%;
        padding: 10px;
        margin: 0 auto;
    }
   .updates{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
    .infoBlock >img{
       width: 3.5rem;
       height: 3.5rem;
       margin: 5px; 
    }
    .ditailInfoUser span:nth-child(2){
        font-size: 10px;
    }
    .time{
        font-size: 12px;
    }
}