 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coming Soon", cursive; 
}


.app {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
color:white;
}
.app_glass{
   display: grid;
   height: 100%;
   width: 100%;
   background: #161b22;
   gap: 10px;
   grid-template-columns: 11rem auto 20rem;
   overflow: hidden;
   position: relative;
   overflow-y: auto;
}


   
@media screen and (max-width: 1200px) {
   .app_glass{
     grid-template-columns: 1fr;
     overflow-y: auto;
   } 
 }
 
 @media screen and (max-width: 768px) {
   .app_glass{
     grid-template-columns: 1fr;
     gap:5px;
   } 
 }  

 
 